<!DOCTYPE html> 
<html lang="en"> <!--14-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Management</title>
</head>
<body>

    <div class="page-header">
        <h1>User Management</h1>
    </div>

    <br>
    <button type="button" ng-click="management.showMore(number);" class="btn btn-success">Apply Filter</button> <!--22    -->
    <button type="button" ng-click="management.showAll();" class="btn btn-warning">Show All</button>
    <br>
    <br>

    <div class="showmore">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">Results to display:</span>
                <input type="text" class="form-control" ng-model="number"> 
                
            </div>

        </div>

    </div>
    <br>

    <div class="row show-hide-message" ng-show="management.showMoreError"> <!--24-->
            <div class="alert alert-danger">{{management.showMoreError}}
            </div>
        </div>

        <br>
       

<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>User Management</strong>
    </div>
    <table class="table">
        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <tr ng-repeat="person in management.users | limitTo: management.limit"> <!--18 and 20-->
            <td> {{person.username}} </td>
            <td> {{person.email}} </td>
            <!-- <td>Rahul</td>
            <td>rahul@gmail.com</td> -->
            <td>
                <a href="/edit/{{person._id}}"> <!--31-->
                    <button type="button" ng-show="management.editAccess" class="btn btn-primary">Edit</button> <!--19-->
                </a>
                <!-- <a href="#"> 31--> 
                        <button type="button" ng-click="management.deleteUser(person.username);" ng-show="management.deleteAccess" class="btn btn-danger">Delete</button>
                    <!-- </a>   -->
            </td>
        </tr>
    </table>
</div>

    <!-- <div class="jumbotron text-center" ng-show="management.loading">
        <span class="glyphicon glyphicon-repeat spinner"></span>
        <p>Loading....</p>
    </div>

    <br> -->
   <!-- <div class="row show-hide-message" ng-show="management.successMsg">
        <div class="alert alert-success">{{management.successMsg}}</div>
    </div>

   
                 <a ng-show="management.expired" href="/resend">
                <button type="button" class="btn btn-success">Resend Activation Link</button>
            </a> -->
           
            <br>
            <button type="button" ng-click="management.showMore(number);" class="btn btn-success">Apply Filter</button> <!--26    -->
            <button type="button" ng-click="management.showAll();" class="btn btn-warning">Show All</button>
            <br>
            <br>
        
            <div class="showmore">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">Results to display:</span>
                        <input type="text" class="form-control" ng-model="number"> 
                        
                    </div>
        
                </div>
        
            </div>
            <br>
</body>
</html>